@{
    ViewData["Title"] = "Hola mundo";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprendé más sobre <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>

    <hr />

    <p>
        <a asp-controller="Propietarios" asp-action="Index" class="btn btn-primary btn-lg">
            Ver Propietarios
        </a>
    </p>
</div>


<!--<h1>¡Hola Mundo desde mi primera Vista MVC!</h1>
<p>Esto es mi primer sitio en ASP.NET Core 9 MVC 🚀</p>-->
<!--MI PRIMER HOLA MUNDO DESDE UNA VISTA-->
